

        .body-initial {background-color: rgb(154, 154, 154); height: 895px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1496246118652-13 {top: 0px; left: 180px; height: 20px; width: 160px;
        }
        .silex-id-1496246220988-14 {top: 20px; left: 80px; height: 20px; width: 100px;
        }
        .silex-id-1496246327094-15 {top: 20px; left: 280px; height: 20px; width: 140px;
        }
        .silex-id-1496245637113-0 {top: 60px; left: 80px; height: 1.4em; width: 100px;
        }
        .silex-id-1496245871049-5 {top: 60px; left: 280px; height: 1.4em; width: 100px;
        }
        .silex-id-1496246361978-16 {top: 80px; left: 220px; height: 40px; width: 40px;
        }
        .silex-id-1496245738454-1 {top: 100px; left: 80px; height: 1.4em; width: 100px;
        }
        .silex-id-1496245890583-6 {top: 100px; left: 280px; height: 1.4em; width: 100px;
        }
        .silex-id-1496246414727-18 {top: 140px; left: 300px; height: 40px; width: 40px;
        }
        .silex-id-1496245801828-3 {top: 200px; left: 80px; height: 1.4em; width: 100px;
        }
        .silex-id-1496245816229-4 {top: 240px; left: 80px; height: 1.4em; width: 100px;
        }
        .silex-id-1496246387214-17 {top: 220px; left: 220px; height: 40px; width: 20px;
        }
        .silex-id-1496245912922-7 {top: 200px; left: 280px; height: 1.4em; width: 100px;
        }
        .silex-id-1496245928569-8 {top: 240px; left: 280px; height: 1.4em; width: 100px;
        }
        .silex-id-1496245981146-9 {top: 280px; left: 280px; height: 1.4em; width: 100px;
        }
        .silex-id-1496246038718-11 {top: 280px; left: 440px; height: 1.4em; width: 100px;
        }
        .silex-id-1496246062170-12 {top: 320px; left: 440px; height: 1.4em; width: 100px;
        }
        .silex-id-1496247553080-23 {top: 300px; left: 400px; height: 20px; width: 20px;
        }
        .silex-id-1496246017928-10 {top: 320px; left: 280px; height: 1.4em; width: 100px;
        }
        .silex-id-1496247535978-22 {top: 380px; left: 20px; height: 140px; width: 460px;
        }
        .silex-id-1496246455227-19 {top: 200px; left: 440px; height: 60px; width: 100px;
        }
    