

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 178px; left: 154px; width: 644px; height: 414px;
        }
        .silex-id-1500559681371-0 {top: 320px; left: 532px; height: 64px; width: 64px;
        }
        .silex-id-1500559686185-1 {top: 317px; left: 33px; height: 64px; width: 64px;
        }
        .silex-id-1500559853284-3 {top: 59.5px; left: 43px; height: 1.4em; width: 100px;
        }
        .silex-id-1500559858414-4 {top: 59.5px; left: 227px; height: 1.4em; width: 100px;
        }
        .silex-id-1500559862588-5 {top: 58.5px; left: 424px; height: 1.4em; width: 100px;
        }
        .silex-id-1500560359894-8 {top: 17px; left: 26px; height: 23px; width: 226px;
        }
        .silex-id-1500560445697-9 {top: 130.5px; left: 45px; height: 1.4em; width: 100px;
        }
        .silex-id-1500560449286-10 {top: 131.5px; left: 228px; height: 1.4em; width: 100px;
        }
        .silex-id-1500560452560-11 {top: 130.5px; left: 427px; height: 1.4em; width: 100px;
        }
        .silex-id-1500560980023-13 {top: 72px; left: 174px; height: 5px; width: 23px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500560761997-12 {top: 71px; left: 372px; height: 5px; width: 23px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500560991918-14 {top: 78px; left: 372px; height: 5px; width: 23px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500561001125-15 {top: 63px; left: 181px; height: 23px; width: 5px; background-color: rgb(255, 255, 255); border-width: 0px 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500561055279-16 {top: 143px; left: 178px; height: 5px; width: 23px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500561060839-17 {top: 150px; left: 374px; height: 5px; width: 23px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500561061422-18 {top: 140px; left: 374px; height: 5px; width: 22px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500561237200-19 {top: 193px; left: 45px; height: 1.4em; width: 100px;
        }
        .silex-id-1500561240502-20 {top: 192px; left: 228px; height: 1.4em; width: 100px;
        }
        .silex-id-1500561243665-21 {top: 194px; left: 429px; height: 1.4em; width: 100px;
        }
        .silex-id-1500561251245-22 {top: 205px; left: 179px; height: 7px; width: 23px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500561260163-23 {top: 202px; left: 374px; height: 5px; width: 23px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500561263798-24 {top: 211px; left: 374px; height: 5px; width: 23px; background-color: rgb(255, 255, 255); border-width: 2px 0px 0px; border-style: solid;
        }
        .silex-id-1500559693430-2 {top: 242px; left: 171px; height: 160px; width: 280px; display: flex;
        }
    